/* Styles go here */

/* mobile and up  */
:root{
	--baseColor: #2196f3;
}

*{
	box-sizing: border-box;
}

::-webkit-scrollbar{
	width: 10px;
	background-color: #f5f5f5;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: var(--baseColor);
}
html{
	font-family:Corbel, sans-serif;
	font-size: 16px;
}
body {
	margin: 0;
	min-height: 100vh;
	position: relative;
	background-color: #e8e8e8;
}
header{
		width: 100%;
		height: 50px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		background-color: white;
		box-shadow: 0px 5px 10px #c1c1c1;
}
h1{
		margin:0;
		font-size: 1.6rem;
		position: absolute;
		top: calc(50% - 0.12em);
		left:50%;
		transform: translate(-50%, -50%);
		font-weight: lighter;
		transition: opacity .2s ease-in-out .5s;
}
h1 span{
		color: var(--baseColor);
		font-size: 2.1rem;
		font-weight: lighter;
}
.header_container{
	height: 100%;
	max-width: 1040px;
}
header form input{
		display: inline-table;
		border: none;
		border-bottom: 2px solid #CCC;
		outline: none;
}
header form input[type="search"]{
		width: 20%;
		height: 1rem;
		position: absolute;
		top: 24px;
		transition: width .2s ease-in-out .3s;
		right:1.6rem;
}
header form input[type="search"]:focus{
		width: calc(100% - 2.2rem);
		border-bottom-color: var(--baseColor);
}
header form input:focus ~ input{
		border-bottom-color: var(--baseColor);
}
header form input:focus + h1{
	transition: opacity .2s ease-in-out;
	opacity: 0;
}
header form input[type="submit"]{
		width: 1rem;
		height: 1rem;
		position: absolute;
		top:24px;
		right: .6rem;
		background-color: transparent;
		background-image: url("../resources/search.svg");
		background-size: contain;
		background-repeat: no-repeat;
}
.body_container{
	padding: calc(50px + .5rem) 0 calc(50px + .5rem) 0;
	width: 100%;
	max-width: 1040px;
	margin: 0 auto;
	flex-wrap: wrap;
}

article{
	margin: 0 .5rem .5rem .5rem;
	width: calc(100% - 1rem);
}

fieldset{
	background-color:#fff;
	border: none;
	box-shadow: 0 0 10px #696969;
	padding: 1rem;
	height: calc(10.5rem + 1vh);
}
textarea{
	font-family:Corbel, sans-serif;
	font-size: 1.2rem;
	width:100%;
	height:6rem;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:3px solid #CCC;
	margin-bottom:1vh;
	resize: none;
	outline: none;
}
input[type="email"]{
	font-family:Corbel, sans-serif;
	width: 80%;
	min-height: 22px;
	font-size: 1.2rem;
	height:2.5rem;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:3px solid #CCC;
	outline: none;
}
input[value="ADD"]{
	width: calc(20% - 3.2px);
	min-height: 22px;
	height:2.5rem;
	background-color: var(--baseColor);
	color:#fff;
	font-weight:bold;
	border: none;
	box-shadow: 0 0 5px #696969;
}
footer{
	height: 50px;
	width: 100%;
	border-top: solid 4px #dcd9d9;
	background-color: white;
	position: absolute;
	bottom: 0;
	left: 0;
}
.brankic{
	position:absolute;
	bottom:0;
	left:8px;
	color:#aaa;
}
.epamlogo{
	position: absolute;
  height: 1.5rem;
	top: 0.5rem;
	right:0.5rem;
}
.copyright{
	position:absolute;
	top:0.5rem;
	left:0.5rem;
	font-weight: bold;
}
/*small screen phone*/
@media screen  and (max-width: 360px) {
	header form input[type="search"]{
		width:18%;
	}
	h1{
		font-size: 16px;
	}
	h1 span{
		font-size: 1.5rem;
	}
}
/* tablet and up  */
@media screen and (min-width: 601px) and (max-width: 1040px) {
	.body_container{
		display: flex;
	}
	article{
		margin: 0 0 .5rem .5rem;
		width: calc(50% - 0.75rem);
		height: calc(10.5rem + 1vh);
	}
	.brankic{
		bottom:0.3rem;
	}
}
/* desktop  */
@media screen and (min-width: 1041px) {
	.header_container{
		height: 100%;
		max-width: 1040px;
		margin: 0 auto;
		position: relative;
		padding: 0;
	}
	h1{
		left: 0;
		transform: none;
		margin: 0;
		top: 12px;
	}
	header form input[type="submit"]{
		right: 0;
	}
	header form input[type="search"]{
		right:0;
	}
	header form input[type="search"]:focus{
		width: 20%;
	}
	header form input:focus + h1{
		opacity: 1;
	}
	.body_container{
		display: flex;
		justify-content: space-between;
	}
	article{
		margin: 0 0 .5rem 0;
		width: calc(100% / 3 - .25rem);
	}
	input[type="email"]{
		width: 80%;
	}
	input[value="ADD"]{
		width: calc(20% - 3.2px);
		font-size: 70%;
	}
	.brankic{
		left: 20%;
		top: 15px;
	}
	.copyright{
		top: 15px;
		left: calc(80% - 20rem);
	;
	}
	.epamlogo{
		position:absolute;
		top: 12px;
		right:20%;
	}
}
