/* Styles go here */

.float-left, .float-right {
	position: relative;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

/* mobile and up  */
:root{
	--baseColor: #2196f3;
}

*{
	box-sizing: border-box;
}

::-webkit-scrollbar{
	width: 10px;
	background-color: #f5f5f5;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: var(--baseColor);
}
html{
	font-family:Corbel, sans-serif;
	font-size: 16px;
}
body {
	margin: 0;
	min-height: 100vh;
	position: relative;
	background-color: #e8e8e8;
}
header{
		width: 100%;
		height: 50px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		background-color: white;
		box-shadow: 0px 5px 10px #c1c1c1;
}
h1.logo{
		margin:0;
		font-size: 1.5rem;
		top: 5px;
		font-weight: lighter;
}
h1.logo span{
			color: var(--baseColor);
			font-size: 2rem;
			font-weight: lighter;
}
.header_container{
	height: 100%;
	max-width: 1040px;
}
header form input{
		display: inline-table;
		border: none;
		outline: none;
}
.search-field{
			border-bottom: 2px solid #CCC;
			position: relative;
			top:14px;
			padding-bottom: 2px;
}
header form input[type="search"]{
		height: 1rem;
}
header form input[type="submit"]{
		width: 1rem;
		height: 1rem;
		background-color: transparent;
		background-image: url("../resources/search.svg");
		background-size: contain;
		background-repeat: no-repeat;
}
.body_container{
	padding: 64px 0;
	width: 100%;
	max-width: 1040px;
	min-height: 100vh;
	margin: 0 auto;
}
article{
	margin: 0 .5rem .5rem .5rem;
	width: calc(100% - 1rem);
	height: calc(10.5rem + 1vh);
	display: inline-block;
}
fieldset{
	background-color:#fff;
	border: none;
	box-shadow: 0 0 10px #696969;
	padding: 1rem;
	height: calc(10.5rem + 1vh);
}
textarea{
	font-family:Corbel, sans-serif;
	font-size: 1.25rem;
	width:100%;
	height:6rem;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:3px solid #CCC;
	margin-bottom:1vh;
	resize: none;
	outline: none;
}
input[type="email"]{
	font-family:Corbel, sans-serif;
	width: 80%;
	min-height: 22px;
	font-size: 1.25rem;
	height:2.5rem;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:3px solid #CCC;
	outline: none;
}
input[value="ADD"]{
	width: calc(20% - 3.2px);
	min-height: 22px;
	height:2.5rem;
	background-color: var(--baseColor);
	color:#fff;
	font-weight:bold;
	border: none;
	box-shadow: 0 0 5px #696969;
}
footer{
	height: 50px;
	width: 100%;
	border-top: solid 4px #dcd9d9;
	background-color: white;
}
.footer-wrapper {
	margin: 0 auto;
	max-width: 1040px;
}
.brankic{
	color:#aaa;
}
.epamlogo{
  height: 1.5rem;
	position: relative;
	bottom: 11px;
	left: 7.25rem;
}
.copyright{
	font-weight: bold;
	position: relative;
	top: 24px;
}
/*small screen phone*/
@media screen  and (max-width: 360px) {
	header form input[type="search"]{
		width:18%;
	}
	h1{
		font-size: 16px;
	}
	h1 span{
		font-size: 1.5rem;
	}
}
/* tablet and up  */
@media screen and (min-width: 601px) and (max-width: 1040px) {
	article{
		margin: 0 0 .5rem .5rem;
		width: calc(50% - 0.75rem);
		height: calc(10.5rem + 1vh);
	}
	.brankic{
		bottom:0.5rem;
	}
}
/* desktop  */
@media screen and (min-width: 1041px) {
	.header_container{
		height: 100%;
		max-width: 1040px;
		margin: 0 auto;
		position: relative;
		padding: 0;
	}
	h1{
		left: 0;
		transform: none;
		margin: 0;
		top: 12px;
	}
	header form input[type="submit"]{
		right: 0;
	}
	header form input[type="search"]{
		right:0;
	}
	.body_container{
	}
	article{
		margin: 0 0 .5rem 0;
		width: calc(100% / 3 - .25rem);
		height: calc(10.5rem + 1vh);
	}
	input[type="email"]{
		width: 80%;
	}
	input[value="ADD"]{
		width: calc(20% - 3.2px);
		font-size: 70%;
	}
}
